html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

header {
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
  "left center right"
  ". center .";

  margin-bottom: 1.5rem;
}

header > h1 {
  grid-area: center;
  margin: 0;
  z-index: 0;
}

nav {
  background-color: #bd027d;
  grid-column: 1 / -1;
  grid-row: 1;
}
